<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.paipaiwei.personal">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <!-- 获取CUID，用于鉴权，请求签名等 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:name=".CurrentApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- 微博 -->
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="6d0de09b6e263a9cdfd8dd2c618100d0">
        </meta-data>

        <service android:name="com.amap.api.location.APSService"/>

        <meta-data
                android:name="design_width_in_dp"
                android:value="375"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="667"/>
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="5bf75749f1f55658100009e3"/>
        <!-- Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。 -->
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="${UMENG_CHANNEL_VALUE}"/>

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
                android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                android:configChanges="keyboardHidden|orientation"
                android:exported="false"
                android:windowSoftInputMode="adjustResize">
        </activity>

        <service
                android:name="com.sina.weibo.sdk.net.DownloadService"
                android:exported="false">
        </service>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_public"/>
        </provider>
        <provider
                android:name=".common.BuglyFileProvider"
                android:authorities="${applicationId}.camera.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/cameras"
                    tools:replace="name,resource"/>
        </provider>
        <provider
                android:name=".common.CameraFileProvider"
                android:authorities="${applicationId}.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>

        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name="com.alipay.sdk.app.H5AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wxd930ea5d5a258f4f"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".wxapi.WXPayEntryActivity"
                android:exported="true"
                android:launchMode="singleTop"/>
        <activity
                android:name=".ui.activity.MainActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".ui.activity.SplashActivity"
                android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.GuideActivity">
        </activity>
        <activity android:name=".ui.activity.DisplayActivity">
        </activity>
        <activity android:name=".ui.activity.PayActivity">
        </activity>
        <activity android:name=".ui.activity.RefreshLayoutActivity">
        </activity>
        <activity android:name=".ui.activity.UploadActivity">
        </activity>
        <activity android:name=".ui.activity.SelectAddressByMapActivity">
        </activity>
        <activity android:name=".ui.activity.UserInfoActivity">
        </activity>
        <activity android:name=".ui.activity.parishfood.BusinessHomeActivity">
        </activity>
        <activity android:name=".ui.activity.ActivityELMe">
        </activity>
        <activity android:name=".ui.activity.ActivityContact">
        </activity>
        <activity android:name=".ui.activity.SearchActivity">
        </activity>
        <activity android:name=".ui.activity.MoreSectionActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.TakeOutActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.FoodActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.ShopCartActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.ProductDetailActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.UseCouponActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.OrderRemarkActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.PayTakeOutActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.PaySuccessActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.OrderSuccessActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.OrderDetailActivity">
        </activity>
        <activity android:name=".ui.activity.parishfood.ParishReserveActivity">
        </activity>
        <activity android:name=".ui.activity.parishfood.ParishBuyActivity">
        </activity>
        <activity android:name=".ui.activity.parishfood.ParishPayActivity">
        </activity>
        <activity android:name=".ui.activity.takeout.ConfirmOrderActivity">
        </activity>
        <activity android:name=".ui.activity.SetNickNameActivity">
        </activity>
        <activity android:name=".ui.activity.login.LoginActivity"/>
        <activity android:name=".ui.activity.SelectMapActivity">
        </activity>
        <activity android:name=".ui.activity.FlutterDisActivity">
        </activity>
        <activity android:name=".ui.activity.SignActivity">
        </activity>
    </application>

</manifest>